In [4]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [69]:
df = pd.read_csv('https://gist.githubusercontent.com/omarish/5687264/raw/7e5c814ce6ef33e25d5259c1fe79463c190800d9/mpg.csv')

In [76]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model_year        int64
origin            int64
name             object
dtype: object

In [79]:
# converting column horsepower from Object type to Float  type

#df.mpg = df.mpg.astype("float")

In [80]:
# can mpg column in your dataset have ?

# can mpg column have dtypes as float but few rows are empty ?

In [81]:
#df.horsepower.unique()

In [ ]:
#pd.to_numeric

In [85]:
?pd.to_numeric

In [84]:
print (df[pd.to_numeric(df['horsepower'], errors='coerce').isnull()])

      mpg  cylinders  displacement horsepower  weight  acceleration  \
32   25.0          4          98.0          ?    2046          19.0
126  21.0          6         200.0          ?    2875          17.0
330  40.9          4          85.0          ?    1835          17.3
336  23.6          4         140.0          ?    2905          14.3
354  34.5          4         100.0          ?    2320          15.8
374  23.0          4         151.0          ?    3035          20.5

     model_year  origin                  name
32           71       1            ford pinto
126          74       1         ford maverick
330          80       2  renault lecar deluxe
336          80       1    ford mustang cobra
354          81       2           renault 18i
374          82       1        amc concord dl

In [31]:
#df["horsepower"].dtype

dtype('O')

In [54]:
df.mpg.value_counts().sum()

398

In [58]:
df.cylinders.value_counts().sum()

398

In [57]:
df.displacement.value_counts().sum()

398

In [66]:
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')

In [67]:
df['horsepower']

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
5      198.0
6      220.0
7      215.0
8      225.0
9      190.0
10     170.0
11     160.0
12     150.0
13     225.0
14      95.0
15      95.0
16      97.0
17      85.0
18      88.0
19      46.0
20      87.0
21      90.0
22      95.0
23     113.0
24      90.0
25     215.0
26     200.0
27     210.0
28     193.0
29      88.0
       ...
368     88.0
369     88.0
370     85.0
371     84.0
372     90.0
373     92.0
374      NaN
375     74.0
376     68.0
377     68.0
378     63.0
379     70.0
380     88.0
381     75.0
382     70.0
383     67.0
384     67.0
385     67.0
386    110.0
387     85.0
388     92.0
389    112.0
390     96.0
391     84.0
392     90.0
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

In [65]:
df.horsepower

0      130
1      165
2      150
3      150
4      140
5      198
6      220
7      215
8      225
9      190
10     170
11     160
12     150
13     225
14      95
15      95
16      97
17      85
18      88
19      46
20      87
21      90
22      95
23     113
24      90
25     215
26     200
27     210
28     193
29      88
      ...
368     88
369     88
370     85
371     84
372     90
373     92
374      ?
375     74
376     68
377     68
378     63
379     70
380     88
381     75
382     70
383     67
384     67
385     67
386    110
387     85
388     92
389    112
390     96
391     84
392     90
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

In [26]:
df.isnull().values.any()

False

In [32]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
dtype: object

In [33]:
cols = df.columns

In [34]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [37]:
df

      mpg  cylinders  displacement  horsepower  weight  acceleration
0    18.0          8         307.0         130    3504          12.0
1    15.0          8         350.0         165    3693          11.5
2    18.0          8         318.0         150    3436          11.0
3    16.0          8         304.0         150    3433          12.0
4    17.0          8         302.0         140    3449          10.5
5    15.0          8         429.0         198    4341          10.0
6    14.0          8         454.0         220    4354           9.0
7    14.0          8         440.0         215    4312           8.5
8    14.0          8         455.0         225    4425          10.0
9    15.0          8         390.0         190    3850           8.5
10   15.0          8         383.0         170    3563          10.0
11   14.0          8         340.0         160    3609           8.0
12   15.0          8         400.0         150    3761           9.5
13   14.0          8         455.0         225    3086          10.0
14   24.0          4         113.0          95    2372          15.0
15   22.0          6         198.0          95    2833          15.5
16   18.0          6         199.0          97    2774          15.5
17   21.0          6         200.0          85    2587          16.0
18   27.0          4          97.0          88    2130          14.5
19   26.0          4          97.0          46    1835          20.5
20   25.0          4         110.0          87    2672          17.5
21   24.0          4         107.0          90    2430          14.5
22   25.0          4         104.0          95    2375          17.5
23   26.0          4         121.0         113    2234          12.5
24   21.0          6         199.0          90    2648          15.0
25   10.0          8         360.0         215    4615          14.0
26   10.0          8         307.0         200    4376          15.0
27   11.0          8         318.0         210    4382          13.5
28    9.0          8         304.0         193    4732          18.5
29   27.0          4          97.0          88    2130          14.5
..    ...        ...           ...         ...     ...           ...
367  28.0          4         112.0          88    2605          19.6
368  27.0          4         112.0          88    2640          18.6
369  34.0          4         112.0          88    2395          18.0
370  31.0          4         112.0          85    2575          16.2
371  29.0          4         135.0          84    2525          16.0
372  27.0          4         151.0          90    2735          18.0
373  24.0          4         140.0          92    2865          16.4
375  36.0          4         105.0          74    1980          15.3
376  37.0          4          91.0          68    2025          18.2
377  31.0          4          91.0          68    1970          17.6
378  38.0          4         105.0          63    2125          14.7
379  36.0          4          98.0          70    2125          17.3
380  36.0          4         120.0          88    2160          14.5
381  36.0          4         107.0          75    2205          14.5
382  34.0          4         108.0          70    2245          16.9
383  38.0          4          91.0          67    1965          15.0
384  32.0          4          91.0          67    1965          15.7
385  38.0          4          91.0          67    1995          16.2
386  25.0          6         181.0         110    2945          16.4
387  38.0          6         262.0          85    3015          17.0
388  26.0          4         156.0          92    2585          14.5
389  22.0          6         232.0         112    2835          14.7
390  32.0          4         144.0          96    2665          13.9
391  36.0          4         135.0          84    2370          13.0
392  27.0          4         151.0          90    2950          17.3
393  27.0          4         140.0          86    2790          15.6
394  44.0          4          97.0          52    2130          24.6
395  32.0          4         135.0          84    2295          11.6
396  28.0          4         120.0          79    2625          18.6
397  31.0          4         119.0          82    2720          19.4

[392 rows x 6 columns]

In [36]:
df.isna().values.any()

False

In [29]:
df.applymap(np.isreal)

      mpg  cylinders  displacement  horsepower  weight  acceleration
0    True       True          True       False    True          True
1    True       True          True       False    True          True
2    True       True          True       False    True          True
3    True       True          True       False    True          True
4    True       True          True       False    True          True
5    True       True          True       False    True          True
6    True       True          True       False    True          True
7    True       True          True       False    True          True
8    True       True          True       False    True          True
9    True       True          True       False    True          True
10   True       True          True       False    True          True
11   True       True          True       False    True          True
12   True       True          True       False    True          True
13   True       True          True       False    True          True
14   True       True          True       False    True          True
15   True       True          True       False    True          True
16   True       True          True       False    True          True
17   True       True          True       False    True          True
18   True       True          True       False    True          True
19   True       True          True       False    True          True
20   True       True          True       False    True          True
21   True       True          True       False    True          True
22   True       True          True       False    True          True
23   True       True          True       False    True          True
24   True       True          True       False    True          True
25   True       True          True       False    True          True
26   True       True          True       False    True          True
27   True       True          True       False    True          True
28   True       True          True       False    True          True
29   True       True          True       False    True          True
..    ...        ...           ...         ...     ...           ...
367  True       True          True       False    True          True
368  True       True          True       False    True          True
369  True       True          True       False    True          True
370  True       True          True       False    True          True
371  True       True          True       False    True          True
372  True       True          True       False    True          True
373  True       True          True       False    True          True
375  True       True          True       False    True          True
376  True       True          True       False    True          True
377  True       True          True       False    True          True
378  True       True          True       False    True          True
379  True       True          True       False    True          True
380  True       True          True       False    True          True
381  True       True          True       False    True          True
382  True       True          True       False    True          True
383  True       True          True       False    True          True
384  True       True          True       False    True          True
385  True       True          True       False    True          True
386  True       True          True       False    True          True
387  True       True          True       False    True          True
388  True       True          True       False    True          True
389  True       True          True       False    True          True
390  True       True          True       False    True          True
391  True       True          True       False    True          True
392  True       True          True       False    True          True
393  True       True          True       False    True          True
394  True       True          True       False    True          True
395  True       True          True       False    True          True
396  True       True          True       False    True          True
397  True       True          True       False    True          True

[392 rows x 6 columns]

In [8]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [7]:
df.count()

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model_year      398
origin          398
name            398
dtype: int64

In [11]:
df = df.replace('?', np.nan)
df = df.dropna()

In [12]:
df = df.drop(['name','origin','model_year'], axis=1)
X = df.drop('mpg', axis=1)
y = df[['mpg']]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [14]:
reg = LinearRegression()
reg.fit(X_train[['horsepower']], y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
y_predicted = reg.predict(X_test[['horsepower']])
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_predicted))
print('R²: %.2f' % r2_score(y_test, y_predicted))

Mean squared error: 28.66
R²: 0.59

In [17]:
reg = LinearRegression()
reg.fit(X_train[['horsepower','weight','cylinders']], y_train)
y_predicted = reg.predict(X_test[['horsepower','weight','cylinders']])
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_predicted))
print('R²: %.2f' % r2_score(y_test, y_predicted))

Mean squared error: 19.12
R²: 0.72